@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --main-color:#bd2a06;
  --second-color:#f97316;
  --border-color:#e2e8f03d;
  --text-color:#f0f8ff;
  --subtext-color:#fdfdfd7a;
  --font-bigger:5rem;
  --font-smaller:0.9rem;
  --gradient-color:linear-gradient(to right, var(--second-color), var(--main-color));
  color-scheme: dark;
  font-family: "Poppins", sans-serif;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.mainPage{
  min-width: 100%;
  min-height: 100vh;
  position: relative;
}
.video__section{
  width: 60rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 0 auto;
  margin-top: 6rem;
}

video{
  height: 100%;
  width: 100%;
  border: 1px solid var(--second-color);
  border-radius: 10px;
}
/*=========== Header section ==========*/
.section__header{
  width: 100%;
  padding: 10px 0;
  position:sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center; 
  justify-content: space-around;
  font-size: larger;
  backdrop-filter: blur(16px);
  border-bottom: 1px solid var(--border-color);

}
.logo{
  display: flex;
 align-items: center;
  gap: 0.5rem;
}
.logo img{
  width: 100%;
  height: 5vh;
}
nav{
  display: flex;
  gap: 3rem;
}
nav a{
  text-decoration: none;
  color:var(--text-color);
  font-size: var(--font-smaller);
}
.btns{
  display: flex;
  gap: 3rem;
}
.Btn1{
  background-color: transparent;
  border: 1px solid var(--text-color);
  padding: 10px;
  border-radius: 5px;
  font-size: var(--font-smaller);
}
.Btn2{
  border-radius: 5px;
  padding: 10px 20px;
  font-size: var(--font-smaller);
  border: none;
  background: var(--gradient-color);
}
/*=========== Hero section ==========*/
.heroSection{
  width: 60%;
 padding-top: 8rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  
}
.heroSection h2{
  font-size: var(--font-bigger);
  font-weight: 400;
  line-height: 1.2;
}
.heroSection h2>span{
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;  

}
.heroSection p{
  color:var(--subtext-color);
font-weight: 300;
margin-top: 1rem;
}
.heroSection .btns{
  margin: auto;
  margin-top: 2rem;
}
.heroSection .Btn1,.Btn2{
  font-size: 1.1rem;
  
}